@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: Minecraft;
  font-style:  normal;
  font-weight: 100;
  src: url("/Minecraft-Regular.woff2") format("woff2");
}

/* Default Link Styles */
a {
  @apply decoration-purple-500;
  @apply focus:underline focus:decoration-red-500;
  @apply hover:underline hover:text-purple-300 hover:decoration-red-500 active:decoration-purple-600;
}