<header class="flex bg-gradient-to-r from-header-start to-header-end">
  <nav
    class="flex h-16 grow items-center justify-between gap-4 px-4 text-white"
  >
    <a href="/" class="hidden xs:block">
      <figure class="flex flex-shrink-0 items-center space-x-1">
        <img
          alt="GMDU logo"
          class="max-w-none"
          src="/logo.png"
          height="48"
          width="48"
          style="image-rendering: optimizeSpeed; image-rendering: pixelated"
        />
        <figcaption class="hidden font-minecraft text-2xl sm:block">
          datapack.dev
        </figcaption>
      </figure>
    </a>
    <ul class="flex gap-2">
      {% for item in navigation.items %} {% if item.url == page.url %} {% assign
      highlight = 'cursor-default' %} {% assign current = 'aria-current="page"'
      %} {% else %} {% assign highlight = 'underline' %} {% assign current = ''
      %} {% endif %}
      <li>
        <a
          href="{{ item.url }}"
          class="text-base font-bold {{ highlight }} "
          {{
          current
          }}
        >
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
