<header class="flex bg-gradient-to-r from-header-start to-header-end">
  <nav
    class="flex h-16 grow items-center justify-between gap-4 px-4 text-white"
  >
    <a href="/" class="heading">
      <figure class="flex flex-shrink-0 items-center space-x-1">
        <img
          alt="GMDU logo"
          class="max-w-none"
          src="/logo.png"
          height="48"
          width="48"
          style="image-rendering: optimizeSpeed; image-rendering: pixelated"
        />
        <figcaption class="font-minecraft text-2xl">datapack.dev</figcaption>
      </figure>
    </a>
    <ul class="flex gap-2 header-links">
      {% for item in navigation.items %} {% if item.url == page.url %} {% assign
      highlight = 'cursor-default' %} {% assign current = 'aria-current="page"'
      %} {% else %} {% assign highlight = 'underline' %} {% assign current = ''
      %} {% endif %}
      <li>
        <a
          href="{{ item.url }}"
          class="text-base font-bold {{ highlight }} "
          {{
          current
          }}
        >
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="dropdown hidden relative">
      <span>☰</span>
      <div class="dropdown-content bg-gray-800 p-2 hidden absolute">
        {% for item in navigation.items %} {% if item.url == page.url %} {%
        assign highlight = 'cursor-default' %} {% assign current =
        'aria-current="page"' %} {% else %} {% assign highlight = 'underline' %}
        {% assign current = '' %} {% endif %}
        <a
          href="{{ item.url }}"
          class="text-base font-bold {{ highlight }} decoration-purple-500 block"
          {{
          current
          }}
        >
          {{ item.text }}
        </a>
        {% endfor %}
      </div>
    </div>
  </nav>
</header>
